.flex-container {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    margin-bottom: 25px;
}

.flex-container img {
    margin-right: 30px;
}